#Reading Pokemon Data(Same as question 3)

This first code is same as question 3, scroll down to look for insights asked

In [1]:
import requests
import pandas as pd

url = 'https://raw.githubusercontent.com/Biuni/PokemonGO-Pokedex/master/pokedex.json'
response = requests.get(url)
json_data = response.json()

# Extract relevant data from JSON
pokemon_list = json_data['pokemon']
pokemon_data = []

for pokemon in pokemon_list:
    pokemon_data.append({
        'id': pokemon['id'],
        'num': pokemon['num'],
        'name': pokemon['name'],
        'img': pokemon['img'],
        'type': ', '.join(pokemon['type']),
        'height': pokemon['height'],
        'weight': pokemon['weight'],
        'candy': pokemon['candy'],
        'candy_count': pokemon.get('candy_count', None),
        'egg': pokemon['egg'],
        'spawn_chance': pokemon['spawn_chance'],
        'avg_spawns': pokemon['avg_spawns'],
        'spawn_time': pokemon['spawn_time'],
        'multipliers': ', '.join([str(multiplier) for multiplier in pokemon['multipliers']] if pokemon['multipliers'] else []),
        'weaknesses': ', '.join(pokemon['weaknesses']),
        'next_evolution': pokemon.get('next_evolution', None),  # Handle missing field
        'prev_evolution': pokemon.get('prev_evolution', None)
    })

# Convert extracted data to DataFrame
df = pd.DataFrame(pokemon_data)
df

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
0,1,001,Bulbasaur,http://www.serebii.net/pokemongo/pokemon/001.png,"Grass, Poison",0.71 m,6.9 kg,Bulbasaur Candy,25.0,2 km,0.6900,69.00,20:00,1.58,"Fire, Ice, Flying, Psychic","[{'num': '002', 'name': 'Ivysaur'}, {'num': '0...",None
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.0420,4.20,07:00,"1.2, 1.6","Fire, Ice, Flying, Psychic","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
2,3,003,Venusaur,http://www.serebii.net/pokemongo/pokemon/003.png,"Grass, Poison",2.01 m,100.0 kg,Bulbasaur Candy,NaN,Not in Eggs,0.0170,1.70,11:30,,"Fire, Ice, Flying, Psychic",None,"[{'num': '001', 'name': 'Bulbasaur'}, {'num': ..."
3,4,004,Charmander,http://www.serebii.net/pokemongo/pokemon/004.png,Fire,0.61 m,8.5 kg,Charmander Candy,25.0,2 km,0.2530,25.30,08:45,1.65,"Water, Ground, Rock","[{'num': '005', 'name': 'Charmeleon'}, {'num':...",None
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.0120,1.20,19:00,1.79,"Water, Ground, Rock","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,147,Dratini,http://www.serebii.net/pokemongo/pokemon/147.png,Dragon,1.80 m,3.3 kg,Dratini Candy,25.0,10 km,0.3000,30.00,06:41,"1.83, 1.84","Ice, Dragon, Fairy","[{'num': '148', 'name': 'Dragonair'}, {'num': ...",None
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,Dragon,3.99 m,16.5 kg,Dratini Candy,100.0,Not in Eggs,0.0200,2.00,11:57,2.05,"Ice, Dragon, Fairy","[{'num': '149', 'name': 'Dragonite'}]","[{'num': '147', 'name': 'Dratini'}]"
148,149,149,Dragonite,http://www.serebii.net/pokemongo/pokemon/149.png,"Dragon, Flying",2.21 m,210.0 kg,Dratini Candy,NaN,Not in Eggs,0.0011,0.11,23:38,,"Ice, Rock, Dragon, Fairy",None,"[{'num': '147', 'name': 'Dratini'}, {'num': '1..."
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,Psychic,2.01 m,122.0 kg,None,NaN,Not in Eggs,0.0000,0.00,N/A,,"Bug, Ghost, Dark",None,None
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,Psychic,0.41 m,4.0 kg,None,NaN,Not in Eggs,0.0000,0.00,N/A,,"Bug, Ghost, Dark",None,None

#Drawing Insights

In [21]:
#checking number of null values in each column
pd.DataFrame(df.isnull().sum(), columns=["Null Count"])

                Null Count
id                       0
num                      0
name                     0
img                      0
type                     0
height                   0
weight                   0
candy                    0
candy_count             81
egg                      0
spawn_chance             0
avg_spawns               0
spawn_time               0
multipliers              0
weaknesses               0
next_evolution          81
prev_evolution          79

**Pokemons whose spawn rate is less than 5%** 👇👇

In [25]:
#Pokemons whose spawn rate is less than 5%
df[df['spawn_chance'] < 5][['id','name','spawn_chance','type''']]

      id        name  spawn_chance            type
0      1   Bulbasaur        0.6900   Grass, Poison
1      2     Ivysaur        0.0420   Grass, Poison
2      3    Venusaur        0.0170   Grass, Poison
3      4  Charmander        0.2530            Fire
4      5  Charmeleon        0.0120            Fire
..   ...         ...           ...             ...
146  147     Dratini        0.3000          Dragon
147  148   Dragonair        0.0200          Dragon
148  149   Dragonite        0.0011  Dragon, Flying
149  150      Mewtwo        0.0000         Psychic
150  151         Mew        0.0000         Psychic

[147 rows x 4 columns]

**Pokemons that have less than 4 weaknesses** 👇 👇

In [26]:
#Pokemons that have less than 4 weaknesses

df[df['weaknesses'].str.split(',').apply(len) < 4][['id','name','weaknesses','type']]

      id        name             weaknesses          type
3      4  Charmander    Water, Ground, Rock          Fire
4      5  Charmeleon    Water, Ground, Rock          Fire
5      6   Charizard  Water, Electric, Rock  Fire, Flying
6      7    Squirtle        Electric, Grass         Water
7      8   Wartortle        Electric, Grass         Water
..   ...         ...                    ...           ...
145  146     Moltres  Water, Electric, Rock  Fire, Flying
146  147     Dratini     Ice, Dragon, Fairy        Dragon
147  148   Dragonair     Ice, Dragon, Fairy        Dragon
149  150      Mewtwo       Bug, Ghost, Dark       Psychic
150  151         Mew       Bug, Ghost, Dark       Psychic

[102 rows x 4 columns]

**Pokemons that have no multipliers at all** 👇 👇

In [27]:
#Pokemons that have no multipliers at all

df[df['multipliers'].apply(lambda x: len(x) == 0)][['id','name','multipliers','type']]

      id        name multipliers              type
2      3    Venusaur                 Grass, Poison
5      6   Charizard                  Fire, Flying
8      9   Blastoise                         Water
11    12  Butterfree                   Bug, Flying
14    15    Beedrill                   Bug, Poison
..   ...         ...         ...               ...
144  145      Zapdos              Electric, Flying
145  146     Moltres                  Fire, Flying
148  149   Dragonite                Dragon, Flying
149  150      Mewtwo                       Psychic
150  151         Mew                       Psychic

[81 rows x 4 columns]

**Pokemons that do not have more than 2 evolutions** 👇 👇

In [32]:
#Pokemons that do not have more than 2 evolutions
df[(df['next_evolution'].apply(lambda x: len(x) if x is not None else 0) <=1 ) & (df['prev_evolution'].apply(lambda x: len(x) if x is not None else 0) <= 1)]

,id,num,name,img,type,height,weight,candy,candy_count,egg,spawn_chance,avg_spawns,spawn_time,multipliers,weaknesses,next_evolution,prev_evolution
1,2,002,Ivysaur,http://www.serebii.net/pokemongo/pokemon/002.png,"Grass, Poison",0.99 m,13.0 kg,Bulbasaur Candy,100.0,Not in Eggs,0.042,4.2,07:00,"1.2, 1.6","Fire, Ice, Flying, Psychic","[{'num': '003', 'name': 'Venusaur'}]","[{'num': '001', 'name': 'Bulbasaur'}]"
4,5,005,Charmeleon,http://www.serebii.net/pokemongo/pokemon/005.png,Fire,1.09 m,19.0 kg,Charmander Candy,100.0,Not in Eggs,0.012,1.2,19:00,1.79,"Water, Ground, Rock","[{'num': '006', 'name': 'Charizard'}]","[{'num': '004', 'name': 'Charmander'}]"
7,8,008,Wartortle,http://www.serebii.net/pokemongo/pokemon/008.png,Water,0.99 m,22.5 kg,Squirtle Candy,100.0,Not in Eggs,0.034,3.4,07:02,1.4,"Electric, Grass","[{'num': '009', 'name': 'Blastoise'}]","[{'num': '007', 'name': 'Squirtle'}]"
10,11,011,Metapod,http://www.serebii.net/pokemongo/pokemon/011.png,Bug,0.71 m,9.9 kg,Caterpie Candy,50.0,Not in Eggs,0.187,18.7,02:11,"3.55, 3.79","Fire, Flying, Rock","[{'num': '012', 'name': 'Butterfree'}]","[{'num': '010', 'name': 'Caterpie'}]"
13,14,014,Kakuna,http://www.serebii.net/pokemongo/pokemon/014.png,"Bug, Poison",0.61 m,10.0 kg,Weedle Candy,50.0,Not in Eggs,0.440,44.0,02:30,"3.01, 3.41","Fire, Flying, Psychic, Rock","[{'num': '015', 'name': 'Beedrill'}]","[{'num': '013', 'name': 'Weedle'}]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,145,145,Zapdos,http://www.serebii.net/pokemongo/pokemon/145.png,"Electric, Flying",1.60 m,52.6 kg,None,NaN,Not in Eggs,0.000,0.0,N/A,,"Ice, Rock",None,None
145,146,146,Moltres,http://www.serebii.net/pokemongo/pokemon/146.png,"Fire, Flying",2.01 m,60.0 kg,None,NaN,Not in Eggs,0.000,0.0,N/A,,"Water, Electric, Rock",None,None
147,148,148,Dragonair,http://www.serebii.net/pokemongo/pokemon/148.png,Dragon,3.99 m,16.5 kg,Dratini Candy,100.0,Not in Eggs,0.020,2.0,11:57,2.05,"Ice, Dragon, Fairy","[{'num': '149', 'name': 'Dragonite'}]","[{'num': '147', 'name': 'Dratini'}]"
149,150,150,Mewtwo,http://www.serebii.net/pokemongo/pokemon/150.png,Psychic,2.01 m,122.0 kg,None,NaN,Not in Eggs,0.000,0.0,N/A,,"Bug, Ghost, Dark",None,None
150,151,151,Mew,http://www.serebii.net/pokemongo/pokemon/151.png,Psychic,0.41 m,4.0 kg,None,NaN,Not in Eggs,0.000,0.0,N/A,,"Bug, Ghost, Dark",None,None

**Pokemons whose spawn time is less than 300 seconds.** 👇 👇

In [47]:
df['spawn_time']

0      20:00
1      07:00
2      11:30
3      08:45
4      19:00
       ...
146    06:41
147    11:57
148    23:38
149      N/A
150      N/A
Name: spawn_time, Length: 151, dtype: object

In [46]:
#Pokemons whose spawn time is less than 300 seconds.

def convert_spawn_time_to_seconds(spawn_time):
    if spawn_time == 'N/A' or ':' not in spawn_time: #since there are N/A values
        return None
    minutes, seconds = spawn_time.split(':')
    if not minutes.isdigit() or not seconds.isdigit():
        return None
    return int(minutes) * 60 + int(seconds)


df['spawn_time_seconds'] = df['spawn_time'].apply(convert_spawn_time_to_seconds)

filtered_df = df[df['spawn_time_seconds'] < 300][['id','name','type','spawn_time','spawn_time_seconds']]

filtered_df

      id       name           type spawn_time  spawn_time_seconds
6      7   Squirtle          Water      04:25               265.0
8      9  Blastoise          Water      00:06                 6.0
10    11    Metapod            Bug      02:11               131.0
12    13     Weedle    Bug, Poison      02:21               141.0
13    14     Kakuna    Bug, Poison      02:30               150.0
..   ...        ...            ...        ...                 ...
127  128     Tauros         Normal      00:37                37.0
129  130   Gyarados  Water, Flying      02:15               135.0
134  135    Jolteon       Electric      02:30               150.0
136  137    Porygon         Normal      02:49               169.0
139  140     Kabuto    Rock, Water      00:05                 5.0

[75 rows x 5 columns]